
html{font-size:100px;}
*{margin:0;padding:0;}
.loginHeader{
	.loginheader{
		with:100%;
		display: flex;
		justify-content:space-between;
		padding:0 6px;
		background:  #f8285c; 
		height: 0.44rem;
		font-size: 0.18rem;
		align-items: center;
		color: white;
		i{
			color:#fff;

		}
	}
 }


